[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = https://github.com/curtiscde/hugo-theme-massively.git
[submodule "public"]
	path = public
	url = https://github.com/jacquesmeugnier/jacquesmeugnier.github.io.git
